.logout-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72.5vh;
}

.logout-content{
    text-align: center;
    color: #151a1f;
}

.logout-content h1{
    font-size: 24px;
    margin-bottom: 16px;
}

.logout-content p{
    font-size: 16px;
    color: #888;
}


.logout-content button{
    margin-top: 20px;
    border-radius: 10px;
    background-color: #ff5722;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    
}